<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <h1>EJS Cats</h1>
    <div id="links">
    <a href="/Bengal"><img src="./images/bangal.jpg" alt=""></a>
    <a href="/Snow_Leopard"><img src="./images/snowl.jpg" alt=""></a>
    </div>
</body>
</html>