.containerB{
    border: solid green 6px;
    border-spacing: 6px;
    border-radius: 12px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}