<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit <%= turtle.name %></h1>
    <form action="/TMNTupdate" method="POST" name="form" id="form">
        <label for="name">Name:</label>
        <input type="text" name="name"><br>
        <label for="favColor">Favorite Color:</label>
        <input type="text" name="favColor">
        <label for="weapon">Weapon of choice:</label>
        <input type="text" name="weapon">
        <label for="interests">Interests:</label>
        <input type="text" name="interests">
        </form>
        <button type="submit" form="form" value="Submit">Add Turtle</button>
        <button><a href="/">Skip to Turtles</a></button>
</body>
</html>